.ProductDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.ProductDetail img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.ProductDetail a {
  text-decoration: none;
  color: black;
}
